input, textarea, button{
	display: block;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: $textPrimary;
	outline: none;
	margin: 0;
	padding: 0;
}