@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700');

$heading: 'Georgia', serif;
$body: 'Roboto', sans-serif;

$fontsizeH1: 76px;
$fontsizeH2: 42px;
$fontsizeH3: 35px;
$fontsizeH4: 26px;
$fontsizeP: 15px;

a{
	color: $primary;
	text-decoration: underline;
}

strong{
	font-weight: 700;
}

em{
	font-style: italic;
}

p, li{
	font-size: $fontsizeP;
	font-family: $body;
	margin-bottom: 1.5em;
	font-weight: 300;
	line-height: 1.9em;
}

ul, ol{
	margin-bottom: 1.5em;
	font-size: $fontsizeP;
	font-family: $body;
}

ul{
	list-style: disc inside;
	li{
		margin-bottom: 0.9em;
		&:last-of-type{
			margin-bottom: 1.9em;
		}
	}
}

ol{
	list-style: decimal inside;
}

h4, .h-four{
	font-size: $fontsizeH4;
	font-family: $body;
	line-height: 1.1em;
	font-weight: 300;
	text-transform: uppercase;
}

h3, .h-three{
	font-size: $fontsizeH3;
	font-family: $heading;
	line-height: 1em;
	font-weight: 400;
	text-transform: uppercase;
}

h2, .h-two{
	font-size: $fontsizeH2;
	font-family: $heading;
	line-height: 1.1em;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0.6em;
}

h1{
	font-size: $fontsizeH1;
	font-family: $heading;
	line-height: 1em;
	font-weight: 400;
	text-transform: uppercase;
	@include breakpoint($breakPoint3) {
		font-size: $fontsizeH2;
	}
}

hr{
	display: block;
	border: none;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 0.9em;
	height: 2px;
	width: 50px;
	background-color: $primary;
}

body{
	letter-spacing: 0.04em;
	color: $textPrimary;
}