$breakPoint1: 1200px;
$breakPoint2: 950px;
$breakPoint3: 760px;
$breakPoint4: 450px;

$lgray: #F5F5F5;

$textPrimary: #54565B; // dark gray

$primary: #138D5A; // green
$secondary: #95989A; // medium gray
$tertiary: #E1E1E2; // light gray