@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,700");
.overlay .overlay-animation-grid:after, .featured-post .featured-post-container:after, .featured-post .featured-post-links:after {
  content: "";
  display: table;
  clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0; }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

input, textarea {
  display: block;
  border: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #0C0C0C;
  outline: none; }

a {
  color: #227272;
  text-decoration: underline; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

p, li {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.5em;
  font-weight: 300;
  line-height: 1.9em; }

ul, ol {
  margin-bottom: 1.5em;
  font-size: 15px;
  font-family: "Roboto", sans-serif; }

ul {
  list-style: disc inside; }
  ul li {
    margin-bottom: 0.9em; }
    ul li:last-of-type {
      margin-bottom: 1.9em; }

ol {
  list-style: decimal inside; }

h4, .h-four {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  line-height: 1.1em;
  font-weight: 300;
  text-transform: uppercase; }

h3, .h-three {
  font-size: 35px;
  font-family: "Georgia", serif;
  line-height: 0.9em;
  font-weight: 400;
  text-transform: uppercase; }

h2, .h-two {
  font-size: 42px;
  font-family: "Georgia", serif;
  line-height: 1.1em;
  font-weight: 400;
  text-transform: uppercase; }

h1 {
  font-size: 76px;
  font-family: "Georgia", serif;
  line-height: 0.9em;
  font-weight: 400;
  text-transform: uppercase; }
  @media only screen and (max-width: 760px) {
    h1 {
      font-size: 42px; } }

body {
  letter-spacing: 0.04em;
  color: #0C0C0C; }

* {
  box-sizing: border-box; }

.animate {
  transition: all 0.3s ease; }

svg {
  width: auto;
  height: 100%; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
  box-shadow: 2px 2px 13px -3px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif; }

.disabled {
  display: none !important; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 15; }
  .overlay .overlay-animation-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .overlay .overlay-animation-grid .overlay-animation {
      background-color: rgba(28, 29, 33, 0.6);
      width: 10%;
      height: 100vh;
      float: left; }
  .overlay .lightbox-container {
    background-color: #fff;
    width: 85%;
    margin: 13px auto;
    padding: 2.5vw;
    overflow: scroll;
    position: relative;
    display: none;
    z-index: 20; }
    .overlay .lightbox-container .lightbox-content .iframe-container {
      display: block; }
    .overlay .lightbox-container .lightbox-content iframe {
      margin: 0 auto;
      width: 100%;
      height: 70vh; }
  .overlay .close {
    position: fixed;
    right: 3%;
    top: 4%;
    width: 30px;
    cursor: pointer; }

.iframe-container {
  display: none; }

@media only screen and (max-width: 760px) {
  main.homepage {
    padding-top: 5px; } }

@media only screen and (max-width: 450px) {
  main.homepage {
    padding-top: 0; } }

.home-intro {
  width: 100%; }
  .home-intro .home-intro-container {
    background-size: 85%;
    position: relative;
    height: 50vw;
    max-height: 790px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 450px) {
      .home-intro .home-intro-container {
        background-size: cover;
        align-items: flex-end;
        height: 80vw; } }
    .home-intro .home-intro-container .home-intro-logo {
      position: absolute;
      top: 14%;
      left: 9%; }
      @media only screen and (max-width: 450px) {
        .home-intro .home-intro-container .home-intro-logo {
          top: 20px;
          left: 20px; } }
      .home-intro .home-intro-container .home-intro-logo img {
        width: 70px;
        height: auto; }
        @media only screen and (max-width: 760px) {
          .home-intro .home-intro-container .home-intro-logo img {
            width: 40px; } }
    .home-intro .home-intro-container .home-intro-heading {
      width: 100%; }
      .home-intro .home-intro-container .home-intro-heading img {
        height: 50vw;
        max-height: 730px;
        width: auto;
        margin: 0 auto;
        display: block; }
        @media only screen and (max-width: 450px) {
          .home-intro .home-intro-container .home-intro-heading img {
            height: 70vw; } }
    .home-intro .home-intro-container .home-intro-video {
      position: absolute;
      bottom: 17%;
      text-align: center;
      width: 100%; }
      @media only screen and (max-width: 760px) {
        .home-intro .home-intro-container .home-intro-video {
          bottom: 14%; } }
      @media only screen and (max-width: 450px) {
        .home-intro .home-intro-container .home-intro-video {
          bottom: 10px; } }
      .home-intro .home-intro-container .home-intro-video a {
        font-size: 20px;
        color: #fff; }
        @media only screen and (max-width: 760px) {
          .home-intro .home-intro-container .home-intro-video a {
            font-size: 17px; } }

.home-resource-topics {
  width: 75%;
  margin: 0 auto;
  background-color: #227272;
  padding: 50px 0;
  margin-top: -15px;
  margin-bottom: 130px;
  position: relative;
  z-index: 3; }
  @media only screen and (max-width: 760px) {
    .home-resource-topics {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      padding: 50px 15px; } }
  .home-resource-topics .home-resource-topics-container {
    color: #fff; }
    .home-resource-topics .home-resource-topics-container .home-resource-topics-header {
      text-align: center;
      margin-bottom: 25px; }
    .home-resource-topics .home-resource-topics-container .home-topics-list {
      margin-top: 30px; }
      .home-resource-topics .home-resource-topics-container .home-topics-list .topic-filters-form .topic-filters-buttons {
        margin-top: 60px;
        text-align: center; }
        @media only screen and (max-width: 760px) {
          .home-resource-topics .home-resource-topics-container .home-topics-list .topic-filters-form .topic-filters-buttons {
            margin-top: 30px; } }
        .home-resource-topics .home-resource-topics-container .home-topics-list .topic-filters-form .topic-filters-buttons button.mfts-button.square, .home-resource-topics .home-resource-topics-container .home-topics-list .topic-filters-form .topic-filters-buttons a.mfts-button.square {
          width: 200px;
          margin: 0 22px; }
          @media only screen and (max-width: 760px) {
            .home-resource-topics .home-resource-topics-container .home-topics-list .topic-filters-form .topic-filters-buttons button.mfts-button.square, .home-resource-topics .home-resource-topics-container .home-topics-list .topic-filters-form .topic-filters-buttons a.mfts-button.square {
              margin: 15px; } }

.featured-post {
  padding: 40px 0;
  position: relative; }
  @media only screen and (max-width: 950px) {
    .featured-post {
      padding: 50px; } }
  @media only screen and (max-width: 760px) {
    .featured-post {
      padding: 35px; } }
  @media only screen and (max-width: 450px) {
    .featured-post {
      padding: 0; } }
  .featured-post .featured-post-container {
    width: 85%;
    position: relative;
    margin: 0 auto; }
    @media only screen and (max-width: 950px) {
      .featured-post .featured-post-container {
        width: 100%; } }
    .featured-post .featured-post-container .featured-post-image {
      width: 47%;
      position: absolute;
      top: 0;
      left: 0;
      height: 39vw;
      max-height: 625px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      @media only screen and (max-width: 950px) {
        .featured-post .featured-post-container .featured-post-image {
          position: static;
          width: 100%;
          height: 73.5vw;
          margin-bottom: 0;
          max-width: 100%; } }
      @media only screen and (max-width: 760px) {
        .featured-post .featured-post-container .featured-post-image {
          height: 85.5vw; } }
      @media only screen and (max-width: 450px) {
        .featured-post .featured-post-container .featured-post-image {
          height: 100vw; } }
    .featured-post .featured-post-container .featured-item-content {
      width: 60%;
      background-color: #fff;
      float: right;
      padding: 110px 140px 110px 180px;
      margin-top: 110px; }
      @media only screen and (max-width: 1200px) {
        .featured-post .featured-post-container .featured-item-content {
          padding: 60px 40px 80px 120px; } }
      @media only screen and (max-width: 950px) {
        .featured-post .featured-post-container .featured-item-content {
          padding: 60px;
          float: none;
          width: 100%;
          margin-top: 0; } }
      @media only screen and (max-width: 760px) {
        .featured-post .featured-post-container .featured-item-content {
          padding: 40px;
          margin-top: 0; } }
  .featured-post .featured-post-links {
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: -39px; }
    @media only screen and (max-width: 950px) {
      .featured-post .featured-post-links {
        width: 100%; } }
    @media only screen and (max-width: 450px) {
      .featured-post .featured-post-links {
        top: 0;
        background-color: #FFF; } }
    .featured-post .featured-post-links .featured-post-links-container {
      width: 60%;
      float: right;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 950px) {
        .featured-post .featured-post-links .featured-post-links-container {
          float: none;
          width: 100%;
          margin-bottom: 40px; } }
      .featured-post .featured-post-links .featured-post-links-container a {
        width: 40%; }
        .featured-post .featured-post-links .featured-post-links-container a:first-of-type {
          margin-right: 25px; }
        @media only screen and (max-width: 450px) {
          .featured-post .featured-post-links .featured-post-links-container a {
            width: 85%;
            margin-right: 0; }
            .featured-post .featured-post-links .featured-post-links-container a:first-of-type {
              margin-right: 0;
              margin-bottom: 20px; } }

.signup-cta {
  background-color: #FFF;
  padding: 30px 0; }
  @media only screen and (max-width: 1200px) {
    .signup-cta {
      padding: 30px; } }
  .signup-cta .signup-cta-container {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 1200px) {
      .signup-cta .signup-cta-container {
        flex-wrap: wrap;
        text-align: center; } }
    .signup-cta .signup-cta-container h4 {
      color: #0C0C0C;
      margin-bottom: 0; }
      @media only screen and (max-width: 1200px) {
        .signup-cta .signup-cta-container h4 {
          margin-bottom: 30px;
          display: block;
          width: 100%; } }
    @media only screen and (max-width: 1200px) {
      .signup-cta .signup-cta-container form {
        display: block;
        width: 100%;
        max-width: 700px;
        margin: 0 auto; } }
    .signup-cta .signup-cta-container form ul {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 1200px) {
        .signup-cta .signup-cta-container form ul {
          flex-wrap: wrap; } }
      .signup-cta .signup-cta-container form ul li {
        margin-bottom: 0; }
        @media only screen and (max-width: 1200px) {
          .signup-cta .signup-cta-container form ul li {
            display: block;
            width: 100%; } }
    .signup-cta .signup-cta-container form input {
      width: 260px;
      padding: 2px 0;
      margin: 0 20px; }
      @media only screen and (max-width: 1200px) {
        .signup-cta .signup-cta-container form input {
          width: 100%;
          padding: 0;
          margin: 0;
          margin-bottom: 15px; } }

.error-container {
  height: 100vh; }
  .error-container .mfts-intro {
    height: 100vh; }
    .error-container .mfts-intro h1 {
      display: block;
      width: 100%; }

.error-home {
  width: 150px;
  margin-top: 30px; }
