.hero{
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.hero-container{
		color: #FFF;
		width: 85%;
		text-align: center;
		h1{
			
		}
		audio{
			display: block;
			width: 100%;
			height: auto;
			margin: 30px auto;
			max-width: 700px;
		}
		p{
			font-size: $fontsizeH4;
			margin-bottom: 0;
			line-height: 1.4em;
		}
		.post-nav{
			text-align: center;
			margin-top: 50px;
			.grif-button{
				margin: 0 10px;
			}
		}
	}
	&.single-hero{

	}
}

.basic-text{
	padding: 50px 0 30px 0;
	.basic-text-container{
	}
	&.single-info{
		padding: 30px 0;
		.basic-text-container{
			h4{
				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: none;
				span{
					display: inline-block;
					margin-right: 20px;
				}
				a{
					display: inline-block;
					margin: 0 13px;
					svg{
						height: 35px;
						width: auto;
					}
				}
			}
		}
	}
}

.two-column-text{
	padding: 50px 0 30px 0;
	.two-column-text-container{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@include breakpoint($breakPoint2) {
			flex-wrap: wrap;
		}
		.text-column{
			width: 45%;
			@include breakpoint($breakPoint2) {
				width: 100%;
			}
		}
	}
}

.basic-text + .basic-text, .basic-text + .two-column-text, .two-column-text + .two-column-text, .two-column-text + .basic-text{
	padding-top: 0;
}

.gallery-grid{
	padding: 50px 0;
	.gallery-grid-container{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;
		.gallery-grid-image{
			width: 31%;
			height: 26.3vw;
			max-height: 422px;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin-bottom: 3.5%;
			@include breakpoint($breakPoint1) {
				width: 48%;
				height: 41vw;
				max-height: 100%;
				margin-bottom: 30px;
			}
			@include breakpoint($breakPoint2) {
				width: 100%;
				height: 85vw;
			}
			.gallery-grid-caption{
				width: 100%;
				background: rgba(0,0,0,0.6);
				padding: 15px;
				.gallery-grid-caption-container{
					color: #FFF;
					*{
						margin-bottom: 0;
						color: #FFF;
					}
				}
			}
			&.empty{
				height: 0;
				margin-bottom: 0;
			}
		}
	}
}

.two-column-divided{
	padding: 50px 0;
	.two-column-divided-container{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		padding: 50px 0;
		@include breakpoint($breakPoint2) {
			flex-wrap: wrap;
		}
		.divided-column{
			width: 45%;
			display: flex;
			align-items: center;
			justify-content: center;
			@include breakpoint($breakPoint2) {
				width: 100%;
				margin-bottom: 20px;
			}
			div{
				display: block;
				width: 100%;
			}
		}
	}
	.two-column-divided-container + .two-column-divided-container{
		border-top: 1px solid $secondary;
	}
}

.current-series{
	.current-series-container{
		.current-series-header{
			padding: 50px 0 30px 0;
			text-align: center;
			h2{
				
			}
		}
		.current-series-graphic{
			height: 50vw;
			min-height: 250px;
			max-height: 500px;
		}
		.current-series-buttons{
			padding: 30px 0 50px 0;
			text-align: center;
			.grif-button{
				
			}
		}
	}
}

.alternating{
	.alternating-container{
		.alternating-heading{
			text-align: center;
			padding: 50px 0;
		}
		.alternating-content{
			display: flex;
			align-items: stretch;
			justify-content: center;
			@include breakpoint($breakPoint2) {
				flex-wrap: wrap;
			}
			&:nth-of-type(even){
				flex-direction: row-reverse;
			}
			.alternating-content-text{
				width: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				@include breakpoint($breakPoint2) {
					width: 100%;
				}
				.alternating-content-text-container{
					width: 85%;
					margin: 0 auto;
					padding: 50px 0;
				}
			}
			.alternating-content-image{
				width: 50%;
				min-height: 400px;
				@include breakpoint($breakPoint2) {
					width: 100%;
				}
				@include breakpoint($breakPoint3) {
					min-height: 250px;
				}
			}
		}
	}
}

.latest{
	.latest-container{
		padding: 50px 0;
		.latest-heading{
			text-align: center;
			margin-bottom: 30px;
		}
	}
}

.image-nav{
	.image-nav-container{
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		.image-nav-item{
			outline: 2px solid #FFF;
			outline-offset: -10px;
			width: 25%;
			height: 25vw;
			max-height: 400px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease;
			text-decoration: none;
			@include breakpoint($breakPoint2) {
				width: 50%;
				height: 50vw;
			}
			@include breakpoint($breakPoint3) {
				width: 100%;
				height: 100vw;
			}
			&:hover{
				outline-offset: -20px;
				h3{
					font-size: 40px;
				}
			}
			h3{
				color: #FFF;
				text-align: center;
				padding: 20px;
				margin-bottom: 0;
				transition: all 0.3s ease;
				text-transform: none;
			}
		}
	}
}

.text-image{
	padding: 50px 0;
	.text-image-container{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		@include breakpoint($breakPoint3) {
			flex-wrap: wrap;
		}
		&.reverse{
			flex-direction: row-reverse;
		}
		.text-image-text{
			width: 45%;
			display: flex;
			align-items: center;
			justify-content: center;
			@include breakpoint($breakPoint3) {
				width: 85%;
				margin: 10px auto;
			}
			.text-image-text-container{
				padding: 30px 0;
				width: 100%;
			}
		}
		.text-image-image{
			width: 45%;
			@include breakpoint($breakPoint3) {
				width: 85%;
				margin: 10px auto;
			}
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

.site-cta{
	padding: 50px 0;
	.site-cta-container{
		max-width: 500px;
		text-align: center;
		@include breakpoint($breakPoint4) {
			max-width: 100%;
		}
		h2{
			
		}
		p{
			
		}
		#mc_embed_signup{
			form{
				#mc_embed_signup_scroll{
					display: flex;
					align-items: stretch;
					justify-content: center;
					@include breakpoint($breakPoint4) {
						flex-wrap: wrap;
					}
					.email{
						width: 100%;
						background-color: #FFF;
						border: 1px solid $textPrimary;
						padding: 15px;
						margin-right: 5px;
						font-size: $fontsizeP;
						text-align: left;
						@include breakpoint($breakPoint4) {
							margin-bottom: 10px;
						}
					}
					.clear{
						flex-shrink: 0;
						display: flex;
						align-items: stretch;
						justify-content: center;
						@include breakpoint($breakPoint4) {
							flex-shrink: 1;
							width: 100%;
						}
						.grif-button{
							max-width: 100%;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.news-filters{
	margin: 30px 0;
	.news-filters-container{
		background-color: $primary;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		@include breakpoint($breakPoint3) {
			width: 100%;
		}
		.news-tax-nav{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 15px 0 15px 30px;
			@include breakpoint($breakPoint3) {
				width: calc(100% - 60px); 
			}
			.news-tax{
				display: flex;
				align-items: center;
				position: relative;
				h3{
					margin-right: 30px;
					margin-bottom: 0;
				}
				p{
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					margin-bottom: 0;
					color: #FFF;
					text-transform: uppercase;
					line-height: 1em;
					@include breakpoint($breakPoint3) {
						font-size: 11px;
						display: none;
					}
					&.news-tax-label{
						margin-left: 20px;
						@include breakpoint($breakPoint3) {
							display: block;
							margin-left: 0;
							margin-right: 15px;
						}
						&:after{
							display: inline-block;
							content: ' ∨';
							transition: all 0.3s ease;
							color: #FFF;
							margin-left: 12px; 
							margin-top: -5px;
						}
					}
				}
				ul{
					display: block;
					background-color: $secondary;
					width: 280px;
					@include breakpoint($breakPoint3) {
						width: 200px;
					}  
					li{
						list-style: none;
						margin-bottom: 0;
						display: block;
						&:before{
							display: none;
						}
						a{
							padding: 15px;
							text-decoration: none;
							color: $textPrimary;
							width: 100%;
							display: block; 
							&:hover{
								background-color: $primary;
								color: #FFF;
							} 
						}
					}
				}
				.news-tax-list{
					display: none;
					position: absolute;
					top: calc(100% + 16px);
					left: 0; 
					z-index: 7;
					@include breakpoint($breakPoint3) {
						left: 0; 
					}
				}
			}
		}
		.news-search{
			form{
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				@include breakpoint($breakPoint3) {
					margin: 0 auto;
				}
				.search-input-container{
					@include breakpoint($breakPoint3) {
						position: absolute;
						width: 100vw;
						left: 100%;
						top: 67px;
						background-color: $primary;
						transition: all 0.3s ease;
						z-index: 4;
					}
					input{
						background-color: transparent;
						border: none;
						padding: 10px 20px 10px 10px;
						width: 200px;
						color: #000;
						font-size: $fontsizeP;
						font-family: $body;
						text-align: right;
						font-weight: 200;
						@include breakpoint($breakPoint3) {
							text-align: left;
							width: 100%;
							padding: 30px;
							color: #fff;
						}
					}
				}
				button{
					background-color: $primary;
					border: none;
					border-radius: 0; 
					padding: 20px;
					width: 60px;
					height: 60px;
					display: block;
					cursor: pointer;
					&:after{
						display: none;
					}
					svg{
						width: 100%;
						height: auto; 
						margin: 0 auto; 
					}
				}				
			}
		}
	}
}

.full-archive{
	padding: 70px 0;
	.archive-heading{
		text-align: center;
	}
	.cards{
		
	}
}

.accordions{
	padding: 50px 0;
	.accordions-container{
		.accordions-intro{
			
		}
		.accordion-item{
			&:first-of-type{
				.accordion-toggle{
					border-top: none;
				}
			}
			.accordion-toggle{
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 30px;
				border-top: 1px dotted $textPrimary;
				@include breakpoint($breakPoint2) {
					padding: 20px;
				}
				h4{
					width: 100%;
					margin-bottom: 0;
					line-height: 0.9em;
					padding-right: 15px;
				}
				.accordion-icon{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-shrink: 0;
					width: 50px;
					height: 50px;
					@include breakpoint($breakPoint2) {
						width: 20px;
						height: 20px;
					}
					svg{
						transition: all 0.3s ease;
						transform-origin: 50% 50%;
						width: 100%;
						height: auto;
						path{
							fill: none; 
							stroke: $textPrimary; 
							stroke-width: 2px;
						}
					}
				}
				&:not(.active){
				}
				&.active{
					.accordion-icon{
						svg{
							transform: rotate(180deg);
						}
					}
				}
			}
			.accordion-content{
				display: none;
				padding: 30px 0;
				border-top: 2px solid $primary;
				margin: 0 30px;
			}
		}
	}
	&[data-bg="0C0C0C"]{
		.accordions-container{
			color: #FFF;
			.accordion-item{
				.accordion-toggle{
					border-top: 1px dotted #FFF;
					.accordion-icon{
						svg{
							path{
								stroke: #FFF; 
							}
						}
					}
				}
			}
		}
	}
}